$color: #0B2033;
.main-header
{
    background-color: $color;
}
.inp-container {
    background-color: #1E293B;
    padding: 5px 7px;
    border-radius: 3px;
    input {
        background-color: #1E293B;
        outline: none;
        border: none;
        padding: 2px 5px;
        border-radius: 3px;
        margin-right: 5px;
    }
    input::placeholder {
        color: #fff;
        font-size: small;
    }
    input:-webkit-autofill,
    input:-webkit-autofill:focus,
    input:-webkit-autofill:hover {
        -webkit-box-shadow: 0 0 0 30px #1E293B inset !important;
        caret-color: #1E293B !important;
        color: #fff !important;
    }

}
