.none-dsp { 
    display: none; 
}
.extra-for-more-read {
    border: 2px solid #0085D0;
    border-radius: 5px;
    width: max-content;
    padding: 1px 3px;
    font-size: 0.8rem;
    margin: 0;
}

.extra-for-titile a {
    font-size: 1rem;
    margin: 0;
}
.nav-itm-light {
    color: #fff !important;
}
.nav-itm-dark {
    color: #000 !important;
}
/* search */
.searchForm {
    z-index: 999;
    transition: all 0.3s ;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #080808e1;
    display: none;
}
.searchForm form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.searchForm form input {
    background: none;
    border: none;
    border-bottom: 2px solid #0085D0;
    outline: none;
    color: #fff;
    width: 215px;
}
.searchForm form input::placeholder {
    color: #fff;
}
.searchForm form button {
    background-color: #0085D0;
    border-radius: 5px;
    padding: 3px 5px;
    color: #fff;
    border: none;
    width: 80px;
}
.closeSearchForm {
    color: #fff;
    font-size: 1.4rem;
    cursor: pointer;
    position: absolute;
    top: 7%;
    left: 97%;
    transform: translate(-7%, -97%);
}

/* class for show searchForm */
.searchFormShow {
    display: block;
    transition: all 0.3s ;
}
.stopScroll {
    overflow: hidden;
}

/* siteStopped */
.siteStopped {
    transition: all 0.3s ;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #080808e1;
    display: none;
}
.siteStopped h4 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media only screen and (max-width: 480px) {
    .searchForm form {
        text-align: center;
    }
    .searchForm form input {
        background: none;
        border: none;
        border-bottom: 2px solid #0085D0;
        outline: none;
        color: #fff;
        width: 215px;
    }
    .searchForm form input::placeholder {
        color: #fff;
    }
    .searchForm form button {
        background-color: #0085D0;
        border-radius: 5px;
        padding: 3px 5px;
        color: #fff;
        border: none;
        width: 80px;
        margin-top: 5px;
    }
    .closeSearchForm {
        color: #fff;
        font-size: 1.4rem;
        cursor: pointer;
        position: absolute;
        top: 7%;
        left: 90%;
        transform: translate(-7%, -90%);
    }
}
.w-100 {
    width: 75% !important;
}
