@font-face {
  font-family: "ttcommons";
  src: url("/fonts/TT Commons Medium.otf");
}
@font-face {
  font-family: "ttcommons-bold";
  src: url("/fonts/TT Commons Bold.otf");
}
a {
  text-decoration: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "ttcommons";
}

.logo-section {
  background-color: #0B2033;
  width: 100%;
  display: grid;
  column-gap: 10px;
  grid-template-columns: auto auto;
}
.logo-section .icons {
  display: flex;
  justify-content: start;
  align-items: center;
  padding-left: 10px;
}
.logo-section .icons i {
  font-size: 1.2rem;
  color: #fff;
  cursor: pointer;
}
.logo-section .icons .theme {
  margin-left: 10px;
  position: relative;
  height: 100%;
  display: flex;
  align-items: center;
}
.logo-section .icons .theme i {
  position: absolute;
}
.logo-section .icons .search {
  height: 100%;
  display: flex;
  align-items: center;
  margin-left: 20px;
}
.logo-section .logo img {
  width: 150px;
}

.container-lg {
  max-width: 1250px;
}

.news-title a {
  color: #0B2033;
  font-family: "ttcommons-bold";
}

.category {
  border: 1px solid rgba(51, 51, 51, 0.6431372549);
  padding: 3px 7px;
  border-radius: 3px;
  margin-right: 15px;
  text-align: center;
}
.category a {
  color: #0B2033;
  font-size: 1rem;
}

.icon-calendar {
  padding-right: 3px;
}

.nav-items {
  display: flex;
  justify-content: start;
  width: 100%;
}
.nav-items li {
  width: max-content;
  list-style-type: none;
  width: 15%;
  text-align: center;
  padding: 10px 0;
}
.nav-items li a {
  text-decoration: none;
  color: #0B2033;
  font-family: "ttcommons";
  font-size: 1.3rem;
  transition: all 0.2s;
}
.nav-items li a:hover {
  color: #E13300;
}

.main-section {
  display: grid;
  grid-template-columns: 40% 30% 30%;
}
.main-section .item {
  padding: 10px;
}
.main-section .lastest {
  padding-right: 23px;
}
.main-section .lastest img {
  width: 100%;
}
.main-section .little-text {
  line-height: 20px;
  font-size: 1.07rem;
}
.main-section .more a {
  font-size: 1.1rem;
}

.fast .fast-card {
  padding-right: 10px;
  width: 100%;
  margin: auto;
}
.fast .card-top {
  display: flex;
  justify-content: start;
  align-items: center;
  padding-right: 10px;
}

.pupular-news-card {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
}
.pupular-news-card .body {
  display: grid;
  grid-template-columns: 48%;
  width: 60%;
}
.pupular-news-card .body .news-title, .pupular-news-card .body .more {
  grid-column-start: 1;
  grid-column-end: 3;
}
.pupular-news-card .body .news-title a, .pupular-news-card .body .more a {
  font-size: 1.12rem !important;
}
.pupular-news-card .image {
  width: 55%;
  padding-left: 10px;
}
.pupular-news-card .image img {
  width: 100%;
  height: 150px;
}

.section-title {
  color: #0B2033;
  margin-bottom: 10px;
  font-family: "ttcommons-bold";
}

.second {
  width: 100%;
  display: grid;
  grid-template-columns: auto auto;
  margin-top: 40px;
}
.second .live {
  width: 125%;
}
.second .live .body {
  width: 75%;
}
.second .images {
  display: grid;
  grid-template-columns: auto auto;
  gap: 5px;
}
.second .images .extra-imaes {
  width: 49%;
  display: grid;
  grid-template-columns: auto;
  gap: 5px;
}
.second .card-extra {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.second .card-extra .top {
  display: flex;
  justify-content: start;
  align-items: center;
}
.second .card-extra .image {
  width: 40%;
}
.second .card-extra .image img {
  width: 100%;
}

.all {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 20px;
}

.all-card .image {
  width: 100%;
}
.all-card .image img {
  width: 100%;
}
.all-card .top {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 15px 0;
}

footer {
  background-color: #0B2033;
  width: 100%;
  height: 200px;
}
footer .top ul {
  display: flex;
  justify-content: start;
  align-items: center;
  height: 71px;
}
footer .top li {
  list-style-type: none;
  margin-right: 20px;
}
footer .top li a {
  color: #fff;
  font-size: 1.7rem;
}
footer .body {
  display: grid;
  grid-template-columns: auto auto;
}
footer .item-1 {
  color: #fff;
}
footer .item-1 .about {
  width: 70%;
  padding-left: 27px;
  font-size: 1.2rem;
}
footer .social-media {
  display: grid;
  grid-template-columns: auto auto;
  gap: 20px;
  color: #C2CEEA;
  font-size: 1.5rem;
}
footer .social-media a {
  color: #C2CEEA;
}

/*# sourceMappingURL=index.css.map */
